/* ============= Geral ============= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-pink: hsl(342, 87%, 61%);
  --primary-grey: hsl(26, 16%, 91%);
  --semi-black: hsl(240, 74%, 5%);
  --text-black: rgba(3, 3, 20, 0.596);

  --luminous-white: hsl(0, 0%, 100%);

  --bg-pink: hsl(31, 80%, 90%);
  --bg-grey: hsl(30, 30%, 96%);
  --bg-grey2: rgb(202, 201, 199);

  font-size: 62.5%;
  /* 1rem = 10px */

  --nav-height: 8.25rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto';
  font-size: 1.6rem;
  text-align: center;

  overflow: overlay;

  background-color: var(--bg-grey);
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.5rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

section {
  padding-block: 10rem;
}

a {
  text-decoration: none;
}

#homeBox header h2,
#treatment header h2,
#procedure header h2,
#aurora header h2,
#about header h2,
#schedule header h2,
#contact header h2,
#newcontent header h2,
#newcontent .content h2 {
  text-transform: uppercase;
  font-weight: 300;
  color: var(--semi-black);
}

#homeBox header h1,
#treatment header h1,
#procedure header h1,
#about header h1,
#schedule header h1,
#contact header h1,
#newcontent header h1 {
  text-transform: uppercase;
  font-weight: 700;

  margin-bottom: 4rem;
}

#treatment header h1,
#procedure header h1,
#about header h1,
#schedule header h1,
#contact header h1,
#newcontent header h1 {
  font-size: 3rem;
  color: var(--primary-pink);
}

#newcontent header,
#newcontent .content h2 {
  text-align: left;
}

#newcontent header h2 {
  margin-top: 4rem;
}

#newcontent .content {
  text-align: left;
  color: var(--text-black)
}

/*================= NAVIGATION =================*/
nav {
  display: flex;
  height: var(--nav-height);
  background-color: transparent;

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .logo {
  width: 30%;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .social-fields {
  margin-top: 17rem;
  margin-inline: auto;

  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

nav .social-fields i {
  font-size: 3rem;
  color: var(--text-black);
}

nav .social-fields i:hover {
  color: var(--primary-pink);
}

nav .menu,
nav .close-menu {
  position: fixed;
}

/*================= MENU-EXPANDED =================*/

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded> :not(nav) {
  visibility: visible;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateX(-100%);
}

body.menu-expanded .logo {
  display: none;
  visibility: hidden;
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background: var(--bg-pink);

  width: 100vw;
  height: 100vh;

  padding-top: 7rem;

  transition: transform 700ms;
  transform: translateY(0);
}

.menu ul {
  padding-left: 0rem;
  margin-bottom: 5rem;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 0;
  font-size: 2rem;
  line-height: 2.5rem;
}

.menu ul li a {
  color: var(--semi-black);
  text-transform: uppercase;
  font-weight: 300;
}

.menu ul li a:hover {
  color: var(--primary-pink);
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded button path {
  stroke: var(--semi-black);
}

body.menu-expanded button path:hover {
  stroke: var(--primary-pink);
}

.scheduleButton {
  width: 100%;
  padding-inline: 3.5rem;
  padding-block: 2rem;

  border: none;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.541);
  background-color: var(--semi-black);
  color: var(--bg-grey2);

  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.scheduleButton:hover {
  background-color: rgb(28, 28, 48);
  color: var(--bg-grey2);
}

/*================= HOME =================*/

#home {
  padding-top: 0;
}

#home .wrapper {
  width: min(200rem, 100%);
  margin-inline: 0rem;
  padding-inline: 0rem;
}

#home.carousel {
  height: 70rem;
}

/*================= HOME BOX =================*/

#homeBox {
  position: absolute;
  z-index: 1;

  padding: 21rem 0 0 0;
  top: var(--nav-height);
}

#homeBox .wrapper {
  padding-inline: 0rem;
  margin-inline: 0rem;
}

#homeBox header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 36rem;
  width: 100vw;
  padding-inline: 1.5rem;

  color: rgb(3, 3, 20);
  background-color: var(--bg-pink);
  box-shadow: 2px -5px 18px rgba(0, 0, 0, 0.479);
  text-align: center;
}

#homeBox header h3 {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--luminous-white);

  margin-bottom: 2rem;
  margin-inline: auto;
  padding-block: 0.5rem;

  background-color: var(--primary-pink);
  width: 65%;
}

#homeBox header h2 {
  font-size: 2.3rem;
}

#homeBox header h1 {
  font-size: 3.5rem;
}

#homeBox .homeBoxButton,
#aurora .content .auroraButton {
  width: fit-content;
  margin-inline: auto;
  padding-inline: 3.5rem;
  padding-block: 2rem;

  border: none;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.541);
  background-color: rgb(3, 3, 20);
  color: var(--bg-grey2);

  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

#homeBox .homeBoxButton:hover,
#aurora .content .auroraButton:hover {
  background-color: rgb(28, 28, 48);
}

/*================= TREATMENT =================*/

#treatment {
  margin-top: 16rem;
  background-color: var(--luminous-white);
}

#treatment header h2 {
  margin-top: 3rem;
}

#treatment .boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

#treatment .boxCard {
  margin-inline: auto;
}

#treatment .boxCard img {
  width: 12.5rem;
  margin-bottom: 1.5rem;
}

#treatment .boxCard h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--text-black);

  margin-bottom: 2rem;
}

/*================= PROCEDURE =================*/

#procedure {
  background-color: var(--bg-grey);
}

#procedure .content .cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#procedure .content .boxCard {
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.192);
  border-radius: 0.4rem;
}

#procedure .content .boxCard h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-pink);
  text-transform: uppercase;

  margin-top: 2rem;
}

#procedure .content .boxCard p {
  color: var(--text-black);

  margin-block: 2rem;
  margin-inline: auto;
  width: 80%;
}

#procedure .content .boxCard button {
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 2rem;
  padding-inline: 2rem;
  padding-block: 1.25rem;
  z-index: 0;

  border: none;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.541);
  background-color: rgb(3, 3, 20);
  color: var(--bg-grey2);

  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

#procedure .content .boxCard button:hover {
  background-color: rgb(28, 28, 48);
}

/*================= AURORA =================*/

#aurora img {
  width: 35rem;

  margin-block: 3rem;
}

#aurora .content p {
  color: var(--text-black);
  text-align: left;
  font-size: 1.7rem;

  margin-top: 2.5rem;
  margin-bottom: 4rem;
}

#aurora .content .auroraButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: -1;
}

#aurora .content .auroraButton i {
  font-size: 2.5rem;
  margin-right: 1rem;
}


/*================= ABOUT =================*/

#about {
  background-color: rgb(255, 255, 255);
  padding-bottom: 0rem;
}

#about header {
  text-align: left;
}

#about header h1 {
  font-size: 3.5rem;
}

#about header p {
  font-size: 1.7rem;
  color: var(--text-black);

  margin-top: 2rem;
  line-height: 3rem;
}

#about .check-icon {
  width: 2rem;
}

#about .content img {
  margin-top: 4rem;
  margin-inline: auto;
}

/*================= SCHEDULE =================*/

#schedule .content {
  background-color: var(--luminous-white);
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.192);
  border-radius: 1.75rem;
  padding-block: 5rem;
  padding-inline: 2rem;
}

#schedule .content input,
#schedule .content select {
  margin-block: 0.75rem;
  padding-block: 1.3rem;
  padding-left: 2rem;
  width: 85%;

  border: 2px solid hsl(0, 0%, 11%);
  border-radius: 1rem;
  background: var(--luminous-white);
}

#schedule .content input::placeholder,
#schedule .content select,
#schedule .content option {
  color: hsl(0, 0%, 11%);
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
}

#schedule .content .form-submit {
  border-radius: 0rem;
}

#schedule .content .form-submit {
  border: none;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.541);
  background-color: rgb(3, 3, 20);
  color: var(--bg-grey2);

  text-transform: uppercase;
  font-weight: 600;
}

#schedule .form-submit:hover {
  background-color: rgb(28, 28, 48);
}

/*================= CONTACT =================*/

#contact {
  background-color: rgb(255, 255, 255);
}

#contact header h1,
#contact header h2 {
  text-align: left;
}

#contact .content p {
  font-size: 1.7rem;
  color: var(--text-black);
  text-align: left;
  text-decoration: none;

  margin-top: 2rem;
  line-height: 3rem;
}

#contact .content img {
  width: 3rem;
  margin-right: 1.5rem;
}

/*================= BLOG =================*/

footer {
  padding-block: 6rem;
  background-color: var(--bg-pink);

  text-align: left;
}

footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 3rem;
}

footer .logo {
  display: inline-block;
  margin-bottom: 3rem;

  width: 20rem;
}

footer .col-b h1 {
  color: hsla(342, 86%, 52%, 0.685);
  font-size: 2rem;
  font-weight: 400;

  display: flex;
  align-items: center;
  gap: 1.25rem;
}

footer .col-b h1 i {
  font-size: 2rem;
  color: hsla(342, 86%, 52%, 0.685);
}

footer .col-c {
  margin-top: 3rem;
}

footer .col-c h1 {
  color: var(--text-black);
  font-size: 1.8rem;
  font-weight: 700;
}

footer .col-c p {
  color: var(--text-black);
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
}

footer hr {
  margin-bottom: 3rem;
}

footer .icons {
  display: flex;
  gap: 2rem;
}

footer .col-d a i {
  font-size: 3.5rem;
  color: hsla(342, 86%, 52%, 0.685);
}

/*======================= RESPONSIVE =======================*/

/* Small screens */

@media(min-width: 300px) {
  #homeBox {
    padding: 12rem 0 0 0;
  }
}

@media(max-width: 375px) {
  #homeBox {
    padding: 7rem 0 0 0;
  }
}

@media(min-width: 480px) {
  .wrapper {
    width: min(100rem, 100%);
  }

  nav .logo {
    width: 25%;
  }

  #homeBox {
    padding: 20rem 0 0 0;
  }
}

/* Large screens */

@media(min-width: 768px) {
  .wrapper {
    width: min(125rem, 100%);
  }

  nav .logo {
    width: 18%;
  }

  #home .carousel,
  #home .carousel .carousel-inner {
    height: 35rem;
  }

  #homeBox {
    padding: 22rem 0 0 0;
  }

  #treatment .boxes {
    gap: 8rem;
  }

  #procedure .content .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  #procedure .cards .boxCard {
    width: 35rem;
  }

  #about .content img {
    width: 40rem;
  }

  #schedule .content input,
  #schedule .content select {
    width: 70%;
  }
}

@media(min-width: 1024px) {

  /*===== GENERAL ===== */
  body {
    overflow: auto;
  }

  .wrapper {
    width: min(125rem, 100%);
  }

  #homeBox header h2,
  #treatment header h2,
  #procedure header h2,
  #aurora header h2,
  #about header h2,
  #schedule header h2,
  #contact header h2,
  #newcontent header h2,
  #newcontent .content h2 {
    font-weight: 400;
  }

  #homeBox header h1,
  #treatment header h1,
  #procedure header h1,
  #about header h1,
  #schedule header h1,
  #contact header h1,
  #newcontent header h1 {
    margin-bottom: 6rem;
  }

  #treatment header h1,
  #procedure header h1,
  #about header h1,
  #schedule header h1,
  #contact header h1,
  #newcontent header h1 {
    font-size: 4rem;
  }

  #newcontent .content p {
    font-size: 1.8rem;
  }

  /*===== NAVIGATION =====*/

  nav {
    height: 10rem;
  }

  nav .logo {
    width: 20%;
  }

  nav.navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    filter: initial;
  }

  nav.navigation .wrapper {
    display: flex;
    gap: 15rem;
  }

  nav.navigation .close-menu,
  nav.navigation .open-menu,
  nav.navigation .social-fields {
    display: none;
  }

  nav.navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  nav.navigation .menu .scheduleButton {
    width: fit-content;
    padding-inline: 2.5rem;
    padding-block: 1.5rem;

    border: none;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.541);
    background-color: var(--semi-black);
    color: var(--bg-grey2);

    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }

  nav.navigation .menu .scheduleButton:hover {
    background-color: rgb(28, 28, 48);
    color: var(--bg-grey2);
  }

  nav.navigation .menu ul:nth-child(1) {
    display: flex;
    gap: 3rem;
    text-transform: uppercase;
  }

  nav.navigation .menu ul li a {
    font-size: 1.62rem;
    color: var(--luminous-white);
  }

  /* ===== HOME ===== */
  #home {
    padding-top: 0;
    padding-bottom: 0;
  }

  #home .carousel,
  #home .carousel .carousel-inner {
    height: 100vh;
  }

  /* ===== HOMEBOX ===== */
  #homeBox {
    padding: 10rem 0 0 0;
  }

  #homeBox header {
    height: 40rem;

    background-color: transparent;
    box-shadow: none;
  }

  #homeBox header h3 {
    font-size: 2rem;
    width: 26%;
    text-align: center;
  }

  #homeBox header h2 {
    font-size: 3.5rem;
    margin: 3rem 0 0.2rem 0;
    color: var(--luminous-white);
  }

  #homeBox header h1 {
    font-size: 5.5rem;
    color: var(--luminous-white);
  }

  /* ===== TREATMENT ===== */
  #treatment {
    margin-top: 0rem;
  }

  #treatment .boxes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
  }

  #treatment .boxCard img {
    width: 13rem;
  }

  #treatment .boxCard h2 {
    font-size: 1.75rem;
  }

  /* ===== PROCEDURE ===== */

  #procedure .content .cards {
    gap: 2rem;
  }

  #procedure .cards .boxCard {
    width: 38rem;
  }

  #procedure .content .boxCard h1 {
    font-size: 2.2rem;
  }

  #procedure .content .boxCard p {
    font-size: 1.7rem;
  }

  #procedure .content .boxCard button {
    padding-inline: 3rem;
    padding-block: 1.5rem;
  }

  /* ===== AURORA ===== */

  #aurora .content p {
    font-size: 1.8rem;
    width: 80%;

    margin-bottom: 5rem;
    margin-inline: auto;
  }

  /* ===== ABOUT ===== */

  #about {
    padding-bottom: 0rem;
  }

  #about .wrapper {
    display: flex;
    flex-direction: row;
  }

  #about header {
    text-align: left;
  }

  #about header h1 {
    font-size: 4rem;
  }

  #about header p {
    font-size: 1.8rem;
  }

  #about .check-icon {
    width: 2.5rem;
    margin-right: 1.25rem;
  }

  #about .content img {
    margin-top: 1rem;
    width: 45rem;
  }

  /* ===== SCHEDULE ===== */

  #schedule .content {
    padding-block: 5rem;
    padding-inline: 1rem;
    width: 70%;
    margin-inline: auto;
  }

  #schedule .content input,
  #schedule .content select {
    border-radius: 1rem;
    width: 75%;
    margin-inline: auto;
  }

  #schedule .content input::placeholder {
    font-size: 1.6rem;
  }

  /* ===== CONTACT ===== */

  #contact header h1,
  #contact header h2 {
    text-align: center;
  }

  #contact .content p {
    font-size: 2rem;
    width: 60%;
    margin-inline: auto;
  }

  #contact .content img {
    width: 3.5rem;
    margin-right: 2.2rem;
  }

  /* ===== FOOTER ===== */

  footer {
    text-align: left;
  }

  footer .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    width: 25rem;
  }

  footer .col-b h1 {
    font-size: 2.5rem;
    gap: 1.5rem;
  }

  footer .col-b h1 i {
    font-size: 3rem;
  }

  footer .col-d {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  footer .icons {
    margin-inline: auto;
    gap: 3rem;
  }

  footer .col-d a i {
    font-size: 4rem;
  }

}