/* ============= Geral ============= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-pink: hsl(342, 87%, 61%);
  --primary-grey: hsl(26, 16%, 91%);
  --semi-black: rgb(3, 3, 20);
  --text-black: rgba(3, 3, 20, 0.596);

  --luminous-white: hsl(0, 0%, 100%);

  --bg-pink: hsl(31, 80%, 90%);
  --bg-grey: hsl(30, 30%, 96%);
  --bg-grey2: rgb(202, 201, 199);

  font-size: 62.5%;
  /* 1rem = 10px */

  --nav-height: 10rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto';
  font-size: 1.6rem;
  text-align: center;

  overflow: overlay;

  background-color: var(--bg-grey);
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.5rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

section {
  padding-block: 10rem;
}

a {
  text-decoration: none;
}

#homeBox header h2,
#treatment header h2,
#procedure header h2,
#about header h2,
#schedule header h2,
#contact header h2 {
  text-transform: uppercase;
  font-weight: 300;
  color: var(--semi-black);
}

#homeBox header h1,
#treatment header h1,
#procedure header h1,
#about header h1,
#schedule header h1,
#contact header h1 {
  text-transform: uppercase;
  font-weight: 700;

  margin-bottom: 4rem;
}

#treatment header h1,
#procedure header h1,
#about header h1,
#schedule header h1,
#contact header h1{
  font-size: 3rem;
  color: var(--primary-pink);
}

/*================= NAVIGATION =================*/
nav {
  display: flex;
  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .logo {
  width: 35%;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .social-fields{
  margin-top: 17rem;
  margin-inline: auto;

  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

nav .social-fields i {
  font-size: 3rem;
  color: var(--text-black);
}

nav .social-fields i:hover {
  color: var(--primary-pink);
}

nav .menu,
nav .close-menu {
  position: fixed;
}

/*================= MENU-EXPANDED =================*/
body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded> :not(nav) {
  visibility: visible;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateX(-100%);
}

body.menu-expanded .logo {
  display: none;
  visibility: hidden;
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background: var(--bg-pink);

  width: 100vw;
  height: 100vh;

  padding-top: 7rem;

  transition: transform 700ms;
  transform: translateY(0);
}

.menu ul {
  padding-left: 0rem;
  margin-bottom: 5rem;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 0;
  font-size: 2rem;
  line-height: 2.5rem;
}

.menu ul li a {
  color: var(--semi-black);
  text-transform: uppercase;
  font-weight: 300;
}

.menu ul li a:hover {
  color: var(--primary-pink);
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded button path {
  stroke: var(--semi-black);
}

body.menu-expanded button path:hover {
  stroke: var(--primary-pink);
}

.scheduleButton {
  width: 100%;
  padding-inline: 3.5rem;
  padding-block: 2rem;

  border: none;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.541);
  background-color: var(--semi-black);
  color: var(--bg-grey2);

  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.scheduleButton:hover {
  background-color: rgb(28, 28, 48);
  color: var(--bg-grey2);
}

/*================= HOME =================*/

#home {
  padding-block: 0rem;
}

#home .wrapper {
  width: min(200rem, 100%);
  margin-inline: 0rem;
  padding-inline: 0rem;
}

#home.carousel {
  height: 70rem;
}

/*================= HOME BOX =================*/

#homeBox {
  position: absolute;
  z-index: 1;

  padding: 11rem 0 0 0;
  top: 10rem;
}

#homeBox .wrapper {
  padding-inline: 0rem;
  margin-inline: 0rem;
}

#homeBox header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 40rem;
  width: 100vw;
  padding-inline: 1.5rem;

  color: rgb(3, 3, 20);
  background-color: var(--bg-pink);
  box-shadow: 2px -5px 18px rgba(0, 0, 0, 0.479);
  text-align: center;
}

#homeBox header h3 {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--luminous-white);

  margin-bottom: 2rem;
  margin-inline: auto;
  padding-block: 0.5rem;

  background-color: var(--primary-pink);
  width: 65%;
}

#homeBox header h2 {
  font-size: 2.3rem;
}

#homeBox header h1 {
  font-size: 3.5rem;
}

#homeBox .homeBoxButton {
  width: fit-content;
  margin-inline: auto;
  padding-inline: 3.5rem;
  padding-block: 2rem;

  border: none;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.541);
  background-color: rgb(3, 3, 20);
  color: var(--bg-grey2);

  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

#homeBox .homeBoxButton:hover {
  background-color: rgb(28, 28, 48);
}

/*================= TREATMENT =================*/

#treatment {
  margin-top: 26rem;
  background-color: var(--luminous-white);
}

#treatment header h2 {
  margin-top: 3rem;
}

#treatment .boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

#treatment .boxCard{
  margin-inline: auto;
}

#treatment .boxCard img {
  width: 12.5rem;
  margin-bottom: 1.5rem;
}

#treatment .boxCard h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--text-black);

  margin-bottom: 2rem;
}

/*================= PROCEDURE =================*/

#procedure{
  background-color: var(--bg-grey);
}

#procedure .content .cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#procedure .content .boxCard {
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.192);
  border-radius: 0.4rem;
}

#procedure .content .boxCard h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-pink);
  text-transform: uppercase;

  margin-top: 2rem;
}

#procedure .content .boxCard p {
  color: var(--text-black);

  margin-block: 2rem;
  margin-inline: auto;
  width: 80%;
}

#procedure .content .boxCard button {
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 2rem;
  padding-inline: 2rem;
  padding-block: 1.25rem;
  z-index: 0;

  border: none;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.541);
  background-color: rgb(3, 3, 20);
  color: var(--bg-grey2);

  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

#procedure .content .boxCard button:hover {
  background-color: rgb(28, 28, 48);
}

/*================= ABOUT =================*/

#about {
  background-color: rgb(255, 255, 255);
  padding-bottom: 0rem;
}

#about header {
  text-align: left;
}

#about header h1 {
  font-size: 3.5rem;
}

#about header p {
  font-size: 1.7rem;
  color: var(--text-black);

  margin-top: 2rem;
  line-height: 3rem;
}

#about .check-icon {
  width: 2rem;
}

#about .content img {
  margin-top: 4rem;
  margin-inline: auto;
}

/*================= SCHEDULE =================*/

#schedule .content p {
  font-size: 1.7rem;
  color: var(--text-black);
  text-align: left;

  margin-top: 2rem;
  line-height: 3rem;
}

#schedule .content input {
  margin-block: 0.5rem;
  padding-block: 1.3rem;
  padding-left: 2.5rem;
  width: 100%;

  border: 2.5px solid hsl(60, 1%, 62%);
  background: var(--bg-grey);
}

#schedule .content input::placeholder {
  color: hsl(60, 1%, 62%);
  font-weight: 600;
  font-size: 1.4rem;
  font-style: italic;
  text-transform: uppercase;
}

#schedule .content .form-submit {
  border: none;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.541);
  background-color: rgb(3, 3, 20);
  color: var(--bg-grey2);

  text-transform: uppercase;
  font-weight: 600;
}

#schedule .form-submit:hover {
  background-color: rgb(28, 28, 48);
}

/*================= CONTACT =================*/

#contact {
  background-color: rgb(255, 255, 255);
}

#contact header h1 {
  text-align: left;
}

#contact header h2 {
  text-align: left;
}

#contact .content p {
  font-size: 1.7rem;
  color: var(--text-black);
  text-align: left;
  text-decoration: none;

  margin-top: 2rem;
  line-height: 3rem;
}

#contact .content img {
  width: 3rem;
  margin-right: 1.5rem;
}

/*================= BLOG =================*/

footer {
  padding-block: 6rem;
  background-color: var(--bg-pink);

  text-align: left;
}

footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 3rem;
}

footer .logo {
  display: inline-block;
  margin-bottom: 3rem;

  width: 20rem;
}

footer .col-a h1 {
  color: var(--text-black);
  font-size: 1.5rem;
  font-weight: 400;
}

footer .col-b {
  display: flex;
  gap: 2rem;
}

footer .col-b i {
  font-size: 3rem;
  color: rgb(122, 122, 122);
}

footer .col-b i:hover {
  color: var(--primary-pink);
}


/*======================= Responsivo =======================*/

/* @media (min-width: 767px) {
  .wrapper {
    width: min(75rem, 100%);
  }

  #home{
    padding-top: var(--nav-height);
    background-color: var(--bg-black);
    padding-block: 11rem;
  }

  #home .wrapper .col-a {
    margin-top: 6rem;
  }

  #sold {
    padding-block: 0rem;
    background-color: var(--bg-grey);
  }

  #sold .banner-mobile{
    display: none;
  }
  
  #sold .wrapper a .banner-desktop{
    display: block;
    width: 100%;
  }
} */

/* @media(min-width: 992px) {
  ===== Geral =====
  body{
    overflow: auto;
  }

  .wrapper{
    width: min(105rem, 100%);
    display: grid;
  }

  .col-a{
    grid-area: A;
  }

  .col-b{
    grid-area: B;
  }

  section{
    padding-block: 12rem;
  }

  ===== Navigation ===== */
/* reset
  nav.navigation .wrapper *{
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    filter: initial;
  }

  nav.navigation .close-menu,
  nav.navigation .open-menu{
    display: none;
  }

  nav.navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
  }

  nav.navigation .menu ul:nth-child(1){
    display: flex;
    gap: 3.2rem;

    text-transform: uppercase;
  }

  nav.navigation .menu ul li a {
    color: var(--luminous-white);
    transition-duration: 0.2s;
  }

  nav.navigation .menu ul li a:hover{
    color: var(--primary-orange);
  }

  nav.navigation .menu a.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;

    border: none;
    border-radius: 4rem;

    background-color: var(--primary-orange);
    color: var(--luminous-white);
  
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.8rem;
    text-transform: uppercase;
  }
  
  nav.navigation .menu a.button:hover{
    background-color: var(--hover-orange);
    border: none;
  }
  
  /*===== Home ===== */
/* #home{
    padding-top: var(--nav-height);
    background-color: var(--bg-black);
    padding-block: 11rem;
  }

  #home::before{
    height: calc(91% - var(--nav-height));
  }


  #home .wrapper{
    grid-template-columns: 50rem 1fr;
    grid-template-areas: 
      'A B';
  }

  #home .col-b img {
    display: block;
    height: 100%;
    filter: brightness(1.2); 
  }


  #home .col-a{
    margin-top: 2rem;
    text-align: left;
    align-self: center;
    width: 95%;
  }

  #home h1{
    font-size: 4.8rem;
    line-height: 110%;
  }

  #home h3{
    font-size: 1.5rem;
  }

  #home p{
    font-size: 1.7rem;
  } */

/* ===== Sold ===== */
/* 
  #sold {
    padding-block: 0rem;
    background-color: var(--bg-grey);
  }

  #sold .banner-mobile{
    display: none;
  }
  
  #sold .wrapper a .banner-desktop{
    display: block;
    width: 100%;
  } */

/* ===== Services ===== */
/* #carte h1{
    width: 47rem;
    margin-inline: auto;
  }

  #carte .wrapper .cards{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem;
  }

  #carte .card{
    width: 45rem;
    flex-grow: 1;
  } */

/* ===== About ===== */
/* #about h3{
    font-size: 2.7rem;    
  }

  #about .col-a{
    width: 82%;
  }

  #about .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
  } */

/* ===== Meet ===== */
/* #meet h3{
    font-size: 1.8rem;
  }

  #meet .content{
    display: flex;
    justify-content: center;
    gap: 3rem;

    margin-top: 4rem;
  }

  #meet .col-a p{
    width: 70%;
    margin-inline: auto;
  }

  #meet .social-links li {
    height: 30px;
  }

  .insta {
    height: 30px;
    transition-duration: 0.1s;
  }
  
  .face {
    height: 30px;
    transition-duration: 0.1s;
  }
  
  .insta:hover {
    height: 24px;
  }
  
  .face:hover {
    transition-duration: 0.1s;
    height: 25px;
  } */

/* ===== Footer ===== */
/* footer{
    padding-block: 2rem;
  }

  footer .wrapper{
    display: flex;
    flex-direction: row;
    gap: 62rem;
    align-items: center;
  }

  footer p{
    margin-bottom: 0;
  }

  footer .col-b .social-links li{
    height: 30px;
  }

  
} */