/* ============= Geral ============= */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
:root{
  --primary-pink: hsl(342, 87%, 61%);
  --secondary-pink: hsl(342, 84%, 44%);
  --primary-grey: hsl(26, 16%, 91%);
    
  --luminous-white: hsl(0, 0%, 97%);

  --bg-grey: hsl(26, 16%, 91%);
  --bg-grey2:rgb(202, 201, 199);
  
  font-size: 62.5%; /* 1rem = 10px */
  
  --nav-height: 10rem;
}

html{
  scroll-behavior: smooth;
}
  
html,
body {
  width: 100%;
  height: 100%;
}
  
body {
  font-family: 'Roboto';
  font-size: 1.6rem;
  
  text-align: center;
  
  overflow: overlay;
  
  background-color: var(--bg-grey);
}
  
.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

section{
  padding-block: 10rem;
}

a{
    text-decoration: none;
}
   
a.scheduleButton {
  color: white;
  background-color: var(--primary-pink);
  border-radius: 0.5rem;
  
  margin-block: 2rem;
  
  padding: 1.6rem 3rem;
  width: fit-content;
  
  font-size: 2rem;
  font-weight: 500;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  transition: background 500ms;
}
  
.scheduleButton:hover {
  background-color: var(--secondary-pink);
}
  
/*================= NAVIGATION =================*/
nav {
  display: flex;
  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;
  
  z-index: 100;
}

.logo img{
  width: 35%;
}
  
nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
nav button {
  background: none;
  border: none;
  cursor: pointer;
}
  
nav .menu,
nav .close-menu {
  position: fixed;
}
  
/*================= MENU-EXPANDED =================*/
body.menu-expanded {
  overflow: hidden;
}
 
body.menu-expanded > :not(nav) {
  visibility:visible;
}
  
.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}
  
body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}
  
.menu {
  transform: translateX(-100%);
  padding-left: 4rem;
}

body.menu-expanded .logo{
    display: none;
    visibility: hidden;
}
 
body.menu-expanded .menu {
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.493);
  
  width: 100vw;
  height: 100vh;
  
  padding-top: 7rem;
  
  transition: transform 700ms;
  transform: translateY(0);
}

.menu ul{
  text-align: left;
}
  
.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 0;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.5rem;
}
 
.menu ul li a {
  color: white;
}

.menu ul li a:hover{
  color: var(--primary-pink);
}
  
.menu .button:hover {
  background-color: var(--hover-orange);
}
  
body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}
  
body.menu-expanded button path {
  stroke: white;
}

/*================= HOME =================*/

#home{
  padding-block: 0rem;
}

#home .wrapper{
  width: min(200rem, 100%);
  margin-inline: 0rem;
  padding-inline: 0rem;
}

/*======================= Responsivo =======================*/

/* @media (min-width: 767px) {
  .wrapper {
    width: min(75rem, 100%);
  }

  #home{
    padding-top: var(--nav-height);
    background-color: var(--bg-black);
    padding-block: 11rem;
  }

  #home .wrapper .col-a {
    margin-top: 6rem;
  }

  #sold {
    padding-block: 0rem;
    background-color: var(--bg-grey);
  }

  #sold .banner-mobile{
    display: none;
  }
  
  #sold .wrapper a .banner-desktop{
    display: block;
    width: 100%;
  }
} */

/* @media(min-width: 992px) {
  ===== Geral =====
  body{
    overflow: auto;
  }

  .wrapper{
    width: min(105rem, 100%);
    display: grid;
  }

  .col-a{
    grid-area: A;
  }

  .col-b{
    grid-area: B;
  }

  section{
    padding-block: 12rem;
  }

  ===== Navigation ===== */
  /* reset
  nav.navigation .wrapper *{
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    filter: initial;
  }

  nav.navigation .close-menu,
  nav.navigation .open-menu{
    display: none;
  }

  nav.navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
  }

  nav.navigation .menu ul:nth-child(1){
    display: flex;
    gap: 3.2rem;

    text-transform: uppercase;
  }

  nav.navigation .menu ul li a {
    color: var(--luminous-white);
    transition-duration: 0.2s;
  }

  nav.navigation .menu ul li a:hover{
    color: var(--primary-orange);
  }

  nav.navigation .menu a.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;

    border: none;
    border-radius: 4rem;

    background-color: var(--primary-orange);
    color: var(--luminous-white);
  
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.8rem;
    text-transform: uppercase;
  }
  
  nav.navigation .menu a.button:hover{
    background-color: var(--hover-orange);
    border: none;
  }
  
  /*===== Home ===== */
  /* #home{
    padding-top: var(--nav-height);
    background-color: var(--bg-black);
    padding-block: 11rem;
  }

  #home::before{
    height: calc(91% - var(--nav-height));
  }


  #home .wrapper{
    grid-template-columns: 50rem 1fr;
    grid-template-areas: 
      'A B';
  }

  #home .col-b img {
    display: block;
    height: 100%;
    filter: brightness(1.2); 
  }


  #home .col-a{
    margin-top: 2rem;
    text-align: left;
    align-self: center;
    width: 95%;
  }

  #home h1{
    font-size: 4.8rem;
    line-height: 110%;
  }

  #home h3{
    font-size: 1.5rem;
  }

  #home p{
    font-size: 1.7rem;
  } */

  /* ===== Sold ===== */
/* 
  #sold {
    padding-block: 0rem;
    background-color: var(--bg-grey);
  }

  #sold .banner-mobile{
    display: none;
  }
  
  #sold .wrapper a .banner-desktop{
    display: block;
    width: 100%;
  } */

  /* ===== Services ===== */
  /* #carte h1{
    width: 47rem;
    margin-inline: auto;
  }

  #carte .wrapper .cards{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem;
  }

  #carte .card{
    width: 45rem;
    flex-grow: 1;
  } */

  /* ===== About ===== */
  /* #about h3{
    font-size: 2.7rem;    
  }

  #about .col-a{
    width: 82%;
  }

  #about .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
  } */

  /* ===== Meet ===== */
  /* #meet h3{
    font-size: 1.8rem;
  }

  #meet .content{
    display: flex;
    justify-content: center;
    gap: 3rem;

    margin-top: 4rem;
  }

  #meet .col-a p{
    width: 70%;
    margin-inline: auto;
  }

  #meet .social-links li {
    height: 30px;
  }

  .insta {
    height: 30px;
    transition-duration: 0.1s;
  }
  
  .face {
    height: 30px;
    transition-duration: 0.1s;
  }
  
  .insta:hover {
    height: 24px;
  }
  
  .face:hover {
    transition-duration: 0.1s;
    height: 25px;
  } */

  /* ===== Footer ===== */
  /* footer{
    padding-block: 2rem;
  }

  footer .wrapper{
    display: flex;
    flex-direction: row;
    gap: 62rem;
    align-items: center;
  }

  footer p{
    margin-bottom: 0;
  }

  footer .col-b .social-links li{
    height: 30px;
  }

  
} */




