<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/e36f96bb12.js" crossorigin="anonymous"></script>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>Dra Ingrid Drumond - Ginecologia e videolaparoscopia</title>

  <link rel="stylesheet" href="../assets/css/styles.css" />
</head>

<body>

  <nav class="navigation">
    <div class="wrapper">
      <a class="logo" href="index.html">
        <img src="../assets/img/logo.png" alt="ingrid-logo">
      </a>

      <div class="menu">
        <ul>
          <li><a onclick="closeMenu()" href="#home">Início</a></li>
          <li><a onclick="closeMenu()" href="#treatment">Tratamentos</a></li>
          <li><a onclick="closeMenu()" href="#procedure">Procedimentos</a></li>
          <li><a onclick="closeMenu()" href="#about">Sobre</a></li>
          <li><a onclick="closeMenu()" href="#contact">Contato</a></li>
        </ul>

        <a class="scheduleButton" onclick="closeMenu()" href="#schedule">Agendar horário</a>

        <div class="social-fields">
          <a
            href="https://api.whatsapp.com/send?phone=5531989773977&text=Ol%C3%A1!%20Gostaria%20de%20falar%20com%20a%20Unicl%C3%ADnica!"><i
              class="fa-brands fa-whatsapp"></i></a>
          <a href="https://www.instagram.com/draingriddrumond/"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>

      <button aria-expanded="false" aria-label="Abrir menu" onclick="openMenu()" class="open-menu"><svg width="40"
          height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 20H30" stroke="#030314" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M10 12H30" stroke="#030314" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M18 28L30 28" stroke="#030314" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <button aria-expanded="true" aria-label="Fechar menu" onclick="closeMenu()" class="close-menu">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M30 10L10 30M10 10L30 30" stroke="#FFFAF1" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
    </div>
  </nav>

  <section id="home">
    <div class="wrapper">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="../assets/img/slide1.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <img src="../assets/img/slide2.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <img src="../assets/img/slide3.png" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="homeBox">
    <div class="wrapper">
      <header>
        <h3>Especialista em Ginecologia</h3>
        <h2>Saúde e beleza íntimas</h2>
        <h1>são a nossa prioridade</h1>
        <button class="homeBoxButton" onClick="document.getElementById('schedule').scrollIntoView();">Agendar um
          horário</button>
      </header>
    </div>
  </section>

  <section id="treatment">
    <div class="wrapper">
      <header>
        <h2>Nossos</h2>
        <h1>Tratamentos</h1>
      </header>
      <div class="content">
        <div class="boxes">
          <div class="boxCard">
            <img src="../assets/img/icons/mioma.png" alt="myoma">
            <h2>Miomas</h2>
          </div>
          <div class="boxCard">
            <img src="../assets/img/icons/sangramento.png" alt="bleeding">
            <h2>Sangramento Uterino</h2>
          </div>
          <div class="boxCard">
            <img src="../assets/img/icons/cisto.png" alt="cisto">
            <h2>Cistos Ovarianos</h2>
          </div>
          <div class="boxCard">
            <img src="../assets/img/icons/climaterio.png" alt="climaterius">
            <h2>Climatério</h2>
          </div>
          <div class="boxCard">
            <img src="../assets/img/icons/endometriose.png" alt="endometriosis">
            <h2>Endometriose</h2>
          </div>
          <div class="boxCard">
            <img src="../assets/img/icons/cancer.png" alt="cancer">
            <h2>Câncer de útero</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="procedure">
    <div class="wrapper">
      <header>
        <h2>Conheça os nossos</h2>
        <h1>Procedimentos</h1>
      </header>

      <div class="content">
        <div class="cards">
          <div class="boxCard">
            <img src="../assets/img/blog/blog1.png" alt="">
            <h1>Rejuvenescimento Vaginal</h1>
            <p>Consiste na aplicação de tratamentos locais não invasivos nas regiões íntimas (genitais) femininas. O
              objetivo é...</p>
            <button onclick="location.href='../view/procedimento1.html'" type="button">Ler mais</button>
          </div>
          <div class="boxCard">
            <img src="../assets/img/blog/blog2.png" alt="">
            <h1>Laser Íntimo</h1>
            <p>Terapia baseada na aplicação local de laser de gás carbônico nas áreas da vulva e da vagina. Ou seja,
              tanto...</p>
            <button onclick="location.href='../view/procedimento2.html'" type="button">Ler mais</button>
          </div>
          <div class="boxCard">
            <img src="../assets/img/blog/blog3.png" alt="">
            <h1>Plásticas Íntimas</h1>
            <p>Os procedimentos da ginecologia regenerativa foram desenvolvidos com o propósito de solucionar incômodos...</p>
            <button onclick="location.href='../view/procedimento3.html'" type="button">Ler mais</button>
          </div>
          <div class="boxCard">
            <img src="../assets/img/blog/blog4.png" alt="">
            <h1>Reconstrução do Períneo</h1>
            <p>A perineoplastia é uma operação que tem como finalidade principal reparar as lesões do tecido local após
              partos...</p>
            <button onclick="location.href='../view/procedimento4.html'" type="button">Ler mais</button>
          </div>
          <div class="boxCard">
            <img src="../assets/img/blog/blog5.png" alt="">
            <h1>Cosmetologia</h1>
            <p>Desenvolvimento, produção e acompanhamento dos efeitos dos produtos cosméticos visando a sua...
            </p>
            <button onclick="location.href='../view/procedimento5.html'" type="button">Ler mais</button>
          </div>
          <div class="boxCard">
            <img src="../assets/img/blog/blog6.png" alt="">
            <h1>Ultrassom</h1>
            <p>A ultrassonografia é um dos exames mais utilizados para identificar alterações...</p>
            <button onclick="location.href='../view/procedimento6.html'" type="button">Ler mais</button>
          </div>
          <div class="boxCard">
            <img src="../assets/img/blog/blog7.png" alt="">
            <h1>Clitoroplastia</h1>
            <p>Pode ser Clitoroplastia, Clitoropexia, Lifting de clitóris ou Clitoridectomia, todos os procedimentos que
              visam...</p>
            <button onclick="location.href='../view/procedimento7.html'" type="button">Ler mais</button>
          </div>
          <div class="boxCard">
            <img src="../assets/img/blog/blog8.png" alt="">
            <h1>Ninfoplastia</h1>
            <p>Ninfoplastia é a plástica ou redução dos pequenos lábios vaginais é indicada quando há aumento
              desproporcional...</p>
            <button onclick="location.href='../view/procedimento8.html'" type="button">Ler mais</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="aurora">
    <div class="wrapper">
      <header>
        <h2>Conheça a</h2>
        <h1>Equipe Aurora</h1>
      </header>

      <div class="content">
        <p>Equipe formada por médicos com uma missão em comum: Oferecer aos seus pacientes alternativas endoscópicas
          seguras e menos nocivas para o diagnóstico e tratamento das diversas patologias cirúrgicas urológicas e
          ginecológicas.<br><br>

          À luz de inovações tecnológicas e com muitas horas de treinamento, nosso propósito é utilizar métodos
          atualizados e com menor impacto na qualidade de vida para atender aos nossos pacientes.<br><br>

          O nome escolhido tem um significado próprio, Aurora: alvorecer de uma equipe médica para João Monlevade e
          região com comprometimento e dedicação máxima ao que nos propusermos a tratar!</p>

        <button class="auroraButton" onclick="location.href='https://www.instagram.com/equipeaurorajm'" type="button"><i class="fa-brands fa-instagram"></i>Visite nosso Instagram</button>
      </div>
    </div>
  </section>

  <section id="about">
    <div class="wrapper">
      <header>
        <h2>Ginecologia e Videolaparoscopia</h2>
        <h1>Dra. Ingrid Drumond</h1>
        <p><img src="../assets/img/icons/check.png" class="check-icon"> Médica pela Universidade Federal de Juiz de Fora
          (UFJF)</p>
        <p><img src="../assets/img/icons/check.png" class="check-icon"> Ginecologista e Obstetra pela Fundação Hospitalar
          do Estado de Minas Gerais (FHEMIG)</p>
        <p><img src="../assets/img/icons/check.png" class="check-icon"> Especialista em Ultrassonografia pela FEBRASGO e
          CBR</p>
        <p><img src="../assets/img/icons/check.png" class="check-icon"> Treinamento em Videolaparoscopia Ginecológica
          pela WM Cirurgia Ginecológica</p>
        <p><img src="../assets/img/icons/check.png" class="check-icon"> Atuação em ginecologia endocrinológica -
          Implantes hormonais</p>
        <p><img src="../assets/img/icons/check.png" class="check-icon"> Atuação em Ginecologia regenerativa e estética
          íntima - laser íntimo e outras tecnologias</p>
      </header>

      <div class="content">
        <img src="./assets/img/dra-ingrid.png" alt="ingrid-photo">
      </div>
    </div>
  </section>

  <section id="schedule">
    <div class="wrapper">
      <header>
        <h2>Preencha seus dados</h2>
        <h1>E solicite um horário</h1>
      </header>
      <div class="content">
        <form>
          <input type="text" id="form-name" placeholder="Nome completo"><br>
          <input type="tel" id="form-number" placeholder="Telefone"><br>
          <input type="email" id="form-email" placeholder="E-mail">
          <input type="submit" class="form-submit" value="Quero marcar um horário">
        </form>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="wrapper">
      <header>
        <h2>Contato</h2>
        <h1>Fale conosco</h1>
      </header>
      <div class="content">
        <p><img src="../assets/img/icons/map.png" alt="map-mark">Uniclínica - R. Fernão Dias, 315 - Rosário, João
          Monlevade - MG, 35930-180</p>
        <p><img src="../assets/img/icons/telephone.png" alt="telephone-mark">(31) 98977-3977</p>
        <p><img src="../assets/img/icons/email.png" alt="email-mark">xxxxx@mail.com</p>
      </div>
    </div>
  </section>

  <footer>
    <div class="wrapper">
      <div class="col-a">
        <a class="logo" href="#home">
          <img src="../assets/img/logo.png" alt="logo">
        </a>
        <h1>Segunda à Sexta - 8h às 18h</h1>
        <h1>R. Fernão Dias, 315 - Rosário, João Monlevade - MG</h1>
      </div>
      <div class="col-b">
        <a
          href="https://api.whatsapp.com/send?phone=5531989773977&text=Ol%C3%A1!%20Gostaria%20de%20falar%20com%20a%20Unicl%C3%ADnica!"><i
            class="fa-brands fa-whatsapp"></i></a>
        <a href="https://www.instagram.com/draingriddrumond/"><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>
  </footer>

  <!-- JavaScript Lib -->
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="../assets/js/scripts.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>

</html>